
TypeForFun/nbproject/private/private.properties
TypeForFun/build/classes/.netbeans_automatic_build
TypeForFun/build/classes/.netbeans_update_resources
TypeForFun/nbproject/private/private.properties
*.properties
/TypeForFun/JavaApplication3/nbproject/private/